litp_customization/ng-bond.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Generated by ERICcommon/xsdgenerator.py -->


    <xs:include schemaLocation="../core/resource.xsd" />

    <xs:complexType name="ng-bond-restricted-type">
        <xs:complexContent>
            <xs:restriction base="resource-type">
                <xs:sequence>
                    <xs:element name="name" minOccurs="0" maxOccurs="0" />
                    <xs:element name="pool" minOccurs="0" maxOccurs="0" />
                    <xs:element name="require" minOccurs="0" maxOccurs="0" />
                    <xs:element name="service" minOccurs="0" maxOccurs="0" />
                    <xs:element ref="resource" minOccurs="0" maxOccurs="0" />
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ng-bond-type">
        <xs:complexContent>
            <xs:extension base="ng-bond-restricted-type">
                <xs:sequence>
                    <xs:element name="children" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                            Children items ids (CSL)
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value='(([^-,]+)(, *[^-,]+)*)'/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="mode" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                            Bonding mode
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value='4|3|0|1|5|2|6|802.3ad|broadcast|balance-rr|active-backup|balance-tlb|balance-xor|balance-alb'/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="primary" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                            Primary Slave
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value='[a-zA-Z0-9\-\._]*'/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="name" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                            Item name, can be different from object identifier
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value='[a-zA-Z0-9\-\._]*'/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="parents" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                            Parent items ids (CSL)
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value='(([^-,]+)(, *[^-,]+)*)'/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pool" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                            This is the pool to allocate a resource from
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value='[0-9a-zA-Z_]*'/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="require" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                            Dependency reference to another item within the tree
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value='[0-9a-zA-Z_ ,]*'/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="service" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                            This is the service to allocate a resource from
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value='[0-9a-zA-Z_.]*'/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ng-bond" type="ng-bond-type" substitutionGroup="resource" />
</xs:schema>
